<BsNavbar @backgroundColor="white" @class="navbar-expand-lg" @onCollapse={{action (mut this.collapsed) true}} @onExpand={{action (mut this.collapsed) false}} as |navbar|>
  <div class="container-fluid">
    <a class="navbar-brand d-block" href="/">
      <img class="pl-0 pr-0" src="/assets/ror-logo.svg" alt="Research Organization Registry">
    </a>
    <div id="search">
      <form {{on "submit" this.search}} class="form-inline mw-25" role="search">
        <input
          name="query"
          value={{this.query}}
          id="query"
          class="form-control"
          placeholder="Search Registry..."
        />
      </form>
    </div>

    {{navbar.toggle}}

    <navbar.content>
      <navbar.nav @class="ml-auto" as |nav|>

        <nav.item>
          <a class="nav-link" href="/about/">
            <p>About</p>
          </a>
        </nav.item>

        <nav.item>
        <a class="nav-link" href="/registry/">
          <p>Registry</p>
        </a>
        </nav.item>

        <nav.item>
        <a class="nav-link" href="/community/">
          <p>Community</p>
        </a>
        </nav.item>

        <a class="nav-link" href="/blog/">
          <p>Blog</p>
        </a>
        </nav.item>

        <nav.item>
        <a class="nav-link external" href="https://ror.readme.io">
          <p>Documentation <i class="fa-solid fa-external-link"></i></p>
        </a>
        </nav.item>

      </navbar.nav>
    </navbar.content>
  </div>
</BsNavbar>
