{{#bs-navbar backgroundColor="white" class="navbar-expand-lg" collapsed=collapsed
onCollapse=(action (mut collapsed) true) onExpand=(action (mut collapsed) false) as |navbar|}}
  <div class="container-fluid">
    <a class="navbar-brand" href="/">
      <img class="w-50 pl-0 pr-0 d-none d-sm-inline" src="/assets/ror-logo.svg" alt="Research Organization Registry logo">
      <h4 class="d-block d-sm-none mt-3">ROR</h4>
    </a>
    
    <form {{action "search" query on="submit"}} class="form-inline mw-25" role="search">
      {{input name="query" value=query class="form-control" placeholder='Search Registry...' escape-press=(action
        'clear') enter=(action 'search')}}
    </form>
    
    {{navbar.toggle}}

    {{#navbar.content}}
      {{#navbar.nav class="ml-auto" as |nav|}}

      {{#nav.item}}
      <a class="nav-link" href="/about" {{action navbar.collapse}}>
        <p>About</p>
      </a>
      {{/nav.item}}
      {{#nav.item}}
      <a class="nav-link" href="/scope" {{action navbar.collapse}}>
        <p>Scope</p>
      </a>
      {{/nav.item}}
      {{#nav.item}}
      <a class="nav-link" href="/blog" {{action navbar.collapse}}>
        <p>Blog</p>
      </a>
      {{/nav.item}}
      {{#nav.item}}
      <a class="nav-link" target="_blank" rel="noopener" href="https://twitter.com/ResearchOrgs" {{action navbar.collapse}}>
        <i class="fa fa-twitter"></i>
      </a>
      {{/nav.item}}
      {{/navbar.nav}}
    {{/navbar.content}}
  </div>
{{/bs-navbar}}