<div class="row">
  <div class="col-lg-8 col-sm-12">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">
          <img class="ror-id mb-1" src="/assets/ror-logo-small.png" alt="ROR ID"> {{#link-to "organizations.show" model.id class="card-link logo-link"}}https://ror.org/{{model.id}}{{/link-to}}
        </h5>
        <hr>
        <h4 class="card-title text-default">{{model.name}}</h4>
        <div class="row">
          <div class="col-md-12">
            {{#if (or aliases acronyms labels)}}
              <h6 class="card-subtitle mb-2 text-muted">
                {{aliases}}{{if (and aliases acronyms) ", " ""}}{{acronyms}}{{if (and (or aliases acronyms) labels) ", " ""}}{{labels}}
              </h6>
            {{/if}}
            {{#each model.types as |type|}}
              <span class="badge badge-type mb-3">{{type}}</span>
            {{/each}}
          </div>
        </div>
        <div class="description font-weight-normal">
          <div class="row">
            <div class="col-md-6">
              {{#if model.country.country_name}}
                <h6 class="mt-3 mb-0">Location</h6>
                {{#each model.addresses as |address|}}
                   <span class="text-default">{{address.geonames_city.city}} (GeoNames ID <a target="_blank" rel="noopener" href="https://www.geonames.org/{{address.geonames_city.id}}" >{{address.geonames_city.id}}</a>)</span><br>
                {{/each}}
                <span class="text-default">{{model.country.country_name}}</span>
              {{/if}}
              {{#if model.links}}
                <h6 class="mt-3 mb-0">Website</h6>
                {{#each model.links as |link|}}
                  <a target="_blank" rel="noopener" class="card-link" href={{link}}>{{link}}</a><br>
                {{/each}}
              {{/if}}
            </div>
            <div class="col-md-6">
              <h6 class="mt-3 mb-0">Other Identifiers</h6>
              {{#if grid}}
               <span class="text-default">GRID</span> {{grid}}<br>
               {{/if}}
              {{#if isni}}
                <span class="text-default">ISNI</span> <a target="_blank" rel="noopener" class="card-link" href="http://isni.org/isni/{{isni}}">{{isni}}</a><br>
              {{/if}}
              {{#if fundref}}
                <span class="text-default">Crossref Funder ID</span> <a target="_blank" class="card-link" rel="noopener" href="https://api.crossref.org/funders/{{fundref}}">{{fundref}}</a><br>
              {{/if}}
              {{#if wikidata}}
                <span class="text-default">Wikidata</span> <a target="_blank" rel="noopener" class="card-link" href="https://www.wikidata.org/wiki/{{wikidata}}">{{wikidata}}</a><br>
              {{/if}}
            </div>

            {{#if model.relationships}}
              <div class="col-md-12">
                <h6 class="mt-3 mb-0">Relationships</h6>
                {{#each-in model.relationships as |relationshipType relationshipInstances|}}
                  {{#if relationshipType}}
                    {{#if relationshipInstances}}
                      <span class="text-default mt-3 mb-3">{{relationshipType}} Organization(s)</span><br>
                        {{#each relationshipInstances as |relationshipInstance|}}
                          <a target="_blank" rel="noopener" class="card-link mt-1" href={{relationshipInstance.id}}>{{relationshipInstance.label}}</a><br>
                        {{/each}}
                    {{/if}}
                  {{/if}}
                {{/each-in}}
              </div>
            {{/if}}
          </div>
        </div>
        <div class="footer text-left pb-0">
          {{#if isSearch}}
            {{#link-to "organizations.show" model.id class="btn btn-sm btn-round"}}View details{{/link-to}}
          {{/if}}
          {{#if (not isSearch)}}
            <p class="small mt-3 mb-0"><i>Is there an issue with the data on this record? <a target="_blank" rel="noopener" href="https://docs.google.com/forms/d/e/1FAIpQLSdJYaMTCwS7muuTa-B_CnAtCSkKzt19lkirAKG4u7umH9Nosg/viewform">Submit a curation request</a></i></p>
          {{/if}}
        </div>
      </div>
    </div>
  </div>
</div>