<div class="col-lg-8 col-sm-12">
  <ul class="pagination justify-content-center">
    {{#if previousPage}}
      <li class="page-item">
        <LinkTo @route={{link}} @query={{hash page=previousPage}} class="page-link" @aria-label="Previous"><span aria-hidden="true"><i class="fa-solid fa-angle-double-left" aria-hidden="true"></i></span>
        </LinkTo>
      </li>
    {{else}}
      <li class="page-item disabled">
        <a class="page-link"><span aria-hidden="true"><i class="fa-solid fa-angle-double-left" aria-hidden="true"></i></span></a>
      </li>
    {{/if}}

    {{#each pageItems as |item|}}
       {{#if item.dots}}
        <li class="page-item">
          <a class="page-link">...</a>
        </li>
      {{else if item.current}}
        <li class="page-item active">
          <a class="page-link">{{item.page}}</a>
        </li>
      {{else}}
        <li class="page-item">
          <LinkTo @route={{link}} @query={{hash page=item.page}} class="page-link">{{item.page}}
          </LinkTo>
        </li>
      {{/if}}
    {{/each}}

    {{#if nextPage}}
      <li class="page-item">
        <LinkTo @route={{link}} @query={{hash page=nextPage}} class="page-link" @aria-label="Next"><span aria-hidden="true"><i class="fa-solid fa-angle-double-right" aria-hidden="true"></i></span>
        </LinkTo>
      </li>
    {{else}}
      <li class="page-item">
        <a class="page-link"><span aria-hidden="true"><i class="fa-solid fa-angle-double-right" aria-hidden="true"></i></span></a>
      </li>
    {{/if}}
  </ul>
</div>