<div class="content">
  <div class="container-fluid">
    {{#if model}}
      {{#each model as |organization|}}
        <div class="row">  
          <div class="col-lg-9 col-sm-12">
            <div class="card">
              <div class="card-header">
                <h4 class="card-title">{{organization.name}}</h4>
                {{#if organization.aliases}}
                  {{#each organization.aliases as |alias|}}
                    <p class="card-category">{{alias}}</p>
                  {{/each}}
                {{/if}}
              </div>
              <div class="card-body">
                
              </div>
              <div class="card-footer">
                <hr>
                 <a class="nav-link" target="_blank" rel="noopener" href={{organization.id}}><i class="fa fa-external-link"></i> {{organization.id}}</a>
              </div>
            </div>      
          </div>
        </div>
      {{/each}}
    {{else}}

    {{/if}}
  </div>
</div>