<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-body">
        <div class="card-title">
          <div class="row">
            <div class="col-lg-9 col-sm-12">
              <h1>
                <img class="ror-id mb-1" src="/assets/ror-logo-small.png" alt="ROR ID"> <LinkTo @route="organizations.show" @model={{this.model.id}} class="card-link logo-link">https://ror.org/{{this.model.id}}</LinkTo>
              </h1>
            </div>
            <div class="col-lg-3 col-sm-12">
              {{#if this.inactiveStatus}}
                  <span class="badge badge-status">{{this.model.status}}</span>
              {{/if}}
            </div>
          </div>
        </div>
        <hr>
        {{#if this.inactiveStatus}}
          {{#if (not this.isSearch)}}
            <div class="callout">
              <span class="text-default"><em><b>This record has
                {{#if (eq this.model.status "withdrawn")}}been {{/if}}{{#if (eq this.model.status "inactive")}}become {{/if}}
                {{this.model.status}}
                {{#if (eq this.model.status "withdrawn")}}from {{/if}}{{#if (eq this.model.status "inactive")}}in{{/if}}
                ROR and is no longer actively maintained.
              </b></em></span>
              {{#each-in this.relationships as |relationshipType relationshipInstances|}}
                {{#if (eq relationshipType "Successor")}}
                  {{#if relationshipInstances}}
                    <span class="text-default"><em>This organization is succeeded by
                      {{#each relationshipInstances as |relationshipInstance|}}
                        {{relationshipInstance.label}} (<a target="_blank" rel="noopener" class="card-link mt-1" href={{relationshipInstance.id}}>{{relationshipInstance.id}}</a>){{#if @index}}, {{/if}}.
                      {{/each}}
                    </em></span>
                  {{/if}}
                {{/if}}
              {{/each-in}}
              <br><a target="_blank" rel="noopener" class="card-link mt-1" href="https://ror.readme.io/docs/ror-data-structure#status"><em>Learn more about {{model.status}} records</em></a>
            </div>
          {{/if}}
        {{/if}}
        <div class="font-weight-normal">
          <div class="row">
            <div class="col-md-12">
              <h2 class="card-title text-default">{{this.name}}</h2>
            </div>
            {{#if this.isSearch}}
              <div class="col-md-12">
                {{#if this.otherNames.values}}
                  <h3 class="mt-3 mb-0 mr-2 d-inline-block">Other names: </h3>
                  <span class="text-default">
                    {{this.otherNames.values}}
                  </span>
                {{/if}}
              </div>
            {{/if}}
            <div class="col-md-6">
              <h3 class="mt-3 mb-0">Organization types</h3>
              <span class="text-default">{{capitalize this.organizationTypes}}</span><br />
              {{#if (not this.isSearch)}}
                {{#if this.otherNames.groupedNamesCount}}
                  <h3 class="mt-3 mb-0 mr-2 d-inline-block">Other names</h3><br />
                  {{#each-in this.otherNames.groupedNames as |nameType nameInstances|}}
                    {{#if nameType}}
                      {{#if nameInstances}}
                        <span class="text-default mt-3 mb-3 font-weight-bold">{{capitalize (pluralize nameType)}}</span><br>
                          {{#each nameInstances as |nameInstance|}}
                            <span class="text-default">{{nameInstance.value}}</span><br />
                          {{/each}}
                      {{/if}}
                    {{/if}}
                  {{/each-in}}
                {{/if}}
              {{/if}}
            </div>
            <div class="col-md-6">
              {{#if this.model.locations}}
                <h3 class="mt-3 mb-0">Locations</h3>
                {{#each this.model.locations as |location|}}
                  {{#if location.geonames_details.name}}
                    <span class="text-default">{{location.geonames_details.name}} (GeoNames ID <a target="_blank" rel="noopener" href="https://www.geonames.org/{{location.geonames_id}}" >{{location.geonames_id}}</a>), {{location.geonames_details.country_name}}</span><br>
                  {{/if}}
                {{/each}}
              {{/if}}
              {{#if this.model.links}}
                <h3 class="mt-3 mb-0">Website</h3>
                {{#each this.model.links as |link|}}
                  {{#if (eq link.type 'website')}}
                    <a target="_blank" rel="noopener" class="card-link" href={{link.value}}>{{link.value}}</a><br>
                  {{/if}}
                {{/each}}
              {{/if}}
              {{#if (or this.grid this.display_isni this.fundref this.wikidata)}}
                <h3 class="mt-3 mb-0">Other Identifiers</h3>
                {{#if this.grid}}
                <span class="text-default">GRID</span> {{this.grid}}<br>
                {{/if}}
                {{#if this.display_isni}}
                  <span class="text-default">ISNI</span> <a target="_blank" rel="noopener" class="card-link" href="http://isni.org/isni/{{this.link_isni}}">{{this.display_isni}}</a><br>
                {{/if}}
                {{#if this.fundref}}
                  <span class="text-default">Crossref Funder ID</span> <a target="_blank" class="card-link" rel="noopener" href="https://api.crossref.org/funders/{{this.fundref}}">{{this.fundref}}</a><br>
                {{/if}}
                {{#if this.wikidata}}
                  <span class="text-default">Wikidata</span> <a target="_blank" rel="noopener" class="card-link" href="https://www.wikidata.org/wiki/{{this.wikidata}}">{{this.wikidata}}</a><br>
                {{/if}}
              {{/if}}
            </div>
          </div>
          {{#if this.relationshipsCount}}
            <div class="row">
              {{#if this.isSearch}}
                <div class="col-md-6">
                  <h3 class="mt-3 mb-0">Relationships ({{this.relationshipsCount}})</h3>
                </div>
              {{/if}}
              {{#if (not this.isSearch)}}
                <div class="col-md-12">
                  <h3 class="mt-3 mb-0">Relationships</h3>
                  {{#each-in this.relationships as |relationshipType relationshipInstances|}}
                    {{#if relationshipType}}
                      {{#if relationshipInstances}}
                        <span class="text-default mt-3 mb-3 font-weight-bold">{{relationshipType}} Organizations</span><br>
                          {{#each relationshipInstances as |relationshipInstance|}}
                            <a target="_blank" rel="noopener" class="card-link mt-1" href={{relationshipInstance.id}}>{{relationshipInstance.label}}</a><br>
                          {{/each}}
                      {{/if}}
                    {{/if}}
                  {{/each-in}}
                </div>
              {{/if}}
            </div>
          {{/if}}
        </div>
        <div class="footer text-left pb-0 ml-3">
          {{#if this.isSearch}}
            <LinkTo @route="organizations.show" @model={{this.model.id}} class="btn btn-sm btn-round">View details</LinkTo>
          {{/if}}
          {{#if (not this.isSearch)}}
            <p class="mt-3 mb-0"><i>Some record data is not displayed in this view. <a target="_blank" rel="noopener" href="https://api.ror.org/v2/organizations/{{this.model.id}}">See JSON view for full record data</a></i></p>
            <p class="mt-3 mb-0">
              <i>
                {{#if this.lastModifiedDate}}
                  Record last modified {{ this.lastModifiedDate }}.
                {{/if}}
                Is there an issue with the data on this record? <a target="_blank" rel="noopener" href="http://curation-request.ror.org">Suggest a change</a>
              </i>
            </p>
          {{/if}}
        </div>
      </div>
    </div>
  </div>
</div>
